/*
Colors used:
Primary Color (Dark Grey): #222F3E;
Secondary Color (Grey): #546170;
Tertiary Color (Light Grey): #F7F7F7;
Accent Color (Light Blue): #73B4FF;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Foundation */

/* responsive typescale and basic colors*/
:root {
  /* Step -2: 15.8025px → 10.1301px */
  --step--2: clamp(0.6331rem, 1.0889rem + -0.5065cqi, 0.9877rem);
  /* Step -1: 17.7778px → 13.5034px */
  --step--1: clamp(0.844rem, 1.1874rem + -0.3816cqi, 1.1111rem);
  /* Step 0: 20px → 18px */
  --step-0: clamp(1.125rem, 1.2857rem + -0.1786cqi, 1.25rem);
  /* Step 1: 22.5px → 23.994px */
  --step-1: clamp(1.4063rem, 1.3796rem + 0.1334cqi, 1.4996rem);
  /* Step 2: 25.3125px → 31.984px */
  --step-2: clamp(1.582rem, 1.4629rem + 0.5957cqi, 1.999rem);
  /* Step 3: 28.4766px → 42.6347px */
  --step-3: clamp(1.7798rem, 1.527rem + 1.2641cqi, 2.6647rem);
  /* Step 4: 32.0361px → 56.832px */
  --step-4: clamp(2.0023rem, 1.5595rem + 2.2139cqi, 3.552rem);
}
:root {
  --body-color: #fff;
  --nav-color: #f7f7f771;
  --side-nav: #f7f7f7;
  --text-color: #222f3e;
  --text-color2: #546170;
  --accent-color: #c7e3ff;
  --background-image1: linear-gradient(
    to bottom,
    #73b4ff 0%,
    #f7f7f7 60%,
    #ffffff 100%
  );
  --background-image2: linear-gradient(340deg, #ffffff 0%, #ebedee 100%);
  --background-image3: linear-gradient(
    225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
}

body {
  background-color: var(--body-color);
  height: 100vh;
  font-size: 100%; /* Sets the font size to 100% */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.5; /* Sets the line-height to 1.5 * the font-size */
}
body.dark {
  --body-color: #222f3e;
  --nav-color: #24252650;
  --side-nav: #546170;
  --text-color: #e8e8e8;
  --text-color2: #6b7a8d;
  --accent-color: #4179a0;
  --background-image1: linear-gradient(to top, #222f3e 10%, #5a94cc 90%);
  --background-image2: linear-gradient(to bottom, #434343 0%, #222f3e 100%);
  --background-image3: linear-gradient(
    -350deg,

    #222f3e 1%,
    #934d45 48%,
    #7f0e2c 100%
  );
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em;
  line-height: 1.25;
  color: var(--text-color);
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-4);
  font-weight: 700;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-3);
  font-weight: 700;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-2);
  font-weight: 500;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-1);
  font-weight: 500;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: var(--step-0);
  font-weight: 300;
  color: var(--text-color);
}

ul,
ol {
  margin: 1em 0;
  padding-left: 40px;
}
img {
  width: 100%;
}
a img {
  border: none;
}
a {
  color: var(--text-color);
  text-decoration: underline; /* Underlining on all times */
}

a:visited {
  color: var(--text-color); /* visited link */
}

a:focus {
  outline: 1px solid #222f3e; /* add a blue outline around the link when it has focus */
}

a:hover {
  color: #73b4ff;
  text-decoration: none; /* No underlining */
}

a:active {
  color: #546170; /* selected link */
}

li {
  color: var(--text-color);
}

/* Desktop navigation default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: var(--nav-color);
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 100;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}
.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-bar .nav-links li {
  list-style: none;
}
.nav-links li a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  padding: 10px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}
.nav-bar .darkLight {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Add some margin to separate from navigation items */
}
.darkLight .dark-light {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.dark-light i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}
.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}
i.cancel {
  opacity: 0;
  pointer-events: none;
}
i.cancel {
  opacity: 1;
  pointer-events: auto;
}

/* Hero section */
.hero-gradient {
  margin-top: 0;
  background-image: var(--background-image1);
  background-size: cover;
  display: inline-block;
  /* Sizing */
  padding-bottom: 40px;
  width: 100%;
}

.hero-gradient2 {
  margin-top: 0;
  background-image: var(--background-image2);
  display: inline-block;
  /* Sizing */
  padding-bottom: 40px;
  width: 100%;
}
.hero-gradient3 {
  margin-top: 0;
  background-image: var(--background-image3);
  display: inline-block;
  /* Sizing */
  padding-bottom: 40px;
  width: 100%;
}

.hero-text {
  padding: 0 50px;
  max-width: 60em;
  margin: 70px auto;
  margin-top: 100px;
}
.hero-text p {
  margin-bottom: 16px;
}
.pic {
  margin-top: 32px;
  margin-bottom: 32px;
}

.big-title {
  margin-top: 0;
  margin-bottom: 32px;
}

/* Layout styling */

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 30px;
  margin: auto;
}
.text-container p {
  margin-bottom: 16px;
}
.hat-title {
  color: var(--text-color2);
}

/* project container*/

.work-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-top: 16px;
  max-width: 1200px;
}
.row {
  display: flex;
  margin-bottom: 24px;
}

.project-image-wrapper {
  width: 40%;
}
.project-description-wrapper {
  width: 60%;
  padding: 0 0 24px 24px;
}
.project-titles {
  margin-top: 0;
  margin-bottom: 24px;
}

/* about page*/

.about-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  padding: 100px 30px 30px 30px;
}
.row {
  display: flex;
  margin-bottom: 24px;
}
.about-left {
  flex: 60%;
  padding: 0 16px;
  text-align: left;
}
.about-right {
  flex: 40%;
  text-align: right;
  padding: 0 16px;
}

/* button design */

.button {
  text-decoration: none; /* button on home page */
  width: auto;
  height: 45px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background-color: var(--body-color);
  box-shadow: 0px 15px 20px rgba(115, 180, 255, 0.4);
  color: var(--text-color);
  transform: translateY(-7px);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 70px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--body-color);
  box-shadow: 0px 15px 20px rgba(115, 180, 255, 0.4);
  color: var(--text-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 45px;
}

#myBtn:hover {
  background-color: var(--accent-color);
  transform: translateY(-7px);
}

/* Footer styling */

.footer-text {
  display: block;
  margin: 70px 0px;
  text-align: center;
  padding: 0 50px;
}

.footer-items {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-left {
  flex: 50%;
  padding: 16px;
  text-align: left;
}
.item-right {
  flex: 50%;
  text-align: right;
  padding: 16px;
}

.footer-items a {
  text-decoration: none;
}
.footer-icon {
  padding: 4px;
}

/* Media quaries */

/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (max-width: 640px) {
  /* Navigation */
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100vh;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }
  nav.active .menu {
    left: -0%;
  }
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }
  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }
  .nav-links li a {
    display: block;
    margin-top: 20px;
  }

  /* Content */
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  .project-image-wrapper {
    width: 100%;
  }
  .project-description-wrapper {
    width: 100%;
    padding: 16px;
  }

  .item-left .item-right {
    flex: 100%;
    flex-direction: column;
  }
  .about-container {
    flex: 100%;
    flex-direction: column;
  }
  .about-left {
    padding: 16px;
  }
  .about-right {
    padding: 16px;
  }
  .item-left p {
    font-size: 14px;
  }
  #myBtn {
    right: 30px;
  }
}

@media screen and (min-width: 768px) {
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
