/*
Colors used:
Primary Color (Dark Grey): #222F3E;
Secondary Color (Grey): #546170;
Tertiary Color (Light Grey): #F7F7F7;
Accent Color (Light Blue): #73B4FF;
*/
* {
  box-sizing: border-box;
}

/* Foundation */

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 100%; /* Sets the font size to 100% */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.5; /* Sets the line-height to 1.5 * the font-size */
  color: #222f3e;
}
/* responsive typescale */

:root {
  /* Step -2: 15.8025px → 10.1301px */
  --step--2: clamp(0.6331rem, 1.0889rem + -0.5065cqi, 0.9877rem);
  /* Step -1: 17.7778px → 13.5034px */
  --step--1: clamp(0.844rem, 1.1874rem + -0.3816cqi, 1.1111rem);
  /* Step 0: 20px → 18px */
  --step-0: clamp(1.125rem, 1.2857rem + -0.1786cqi, 1.25rem);
  /* Step 1: 22.5px → 23.994px */
  --step-1: clamp(1.4063rem, 1.3796rem + 0.1334cqi, 1.4996rem);
  /* Step 2: 25.3125px → 31.984px */
  --step-2: clamp(1.582rem, 1.4629rem + 0.5957cqi, 1.999rem);
  /* Step 3: 28.4766px → 42.6347px */
  --step-3: clamp(1.7798rem, 1.527rem + 1.2641cqi, 2.6647rem);
  /* Step 4: 32.0361px → 56.832px */
  --step-4: clamp(2.0023rem, 1.5595rem + 2.2139cqi, 3.552rem);
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em;
  line-height: 1.25;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-4);
  font-weight: 700;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-3);
  font-weight: 700;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-2);
  font-weight: 500;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-size: var(--step-1);
  font-weight: 500;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: var(--step-0);
  font-weight: 300;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 40px;
}
img {
  width: 100%;
}
a img {
  border: none;
}
a {
  color: #222f3e;
  text-decoration: underline; /* Underlining on all times */
}

a:visited {
  color: #222f3e; /* visited link */
}

a:focus {
  outline: 1px solid #222f3e; /* add a blue outline around the link when it has focus */
}

a:hover {
  color: #73b4ff;
  text-decoration: none; /* No underlining */
}

a:active {
  color: #546170; /* selected link */
}

/* Navigation bar */

nav > ul > li > a {
  text-decoration: none;
}

nav > ul > li > a:focus {
  outline: none;
}

nav > ul > li > a:hover {
  color: #546170;
}

nav > ul {
  list-style-type: none;
}

.nav-logo {
  float: left;
  position: relative;
}

.brand-logo {
  max-width: 200px;
  padding: 1rem;
  display: inline-block;
}

.navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}

.nav-item {
  display: block;
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #222f3e;
  margin: 8px;
}

/* mobile menu-small screens */

/* Hero section */
.hero-gradient {
  margin-top: 0;
  background-image: linear-gradient(
    to bottom,
    #73b4ff 0%,
    #f7f7f7 60%,
    #ffffff 100%
  );
  display: inline-block;
  /* Sizing */
  padding-bottom: 40px;
  width: 100%;
}

.hero-gradient2 {
  margin-top: 0;
  background-image: linear-gradient(340deg, #fdfbfb 0%, #ebedee 100%);
  display: inline-block;
  /* Sizing */
  padding-bottom: 40px;
  width: 100%;
}
.hero-gradient3 {
  margin-top: 0;
  background-image: linear-gradient(
    225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  display: inline-block;
  /* Sizing */
  padding-bottom: 40px;
  width: 100%;
}

.hero-text {
  color: #222f3e;
  padding: 0 50px;
  max-width: 60em;
  margin: 70px auto;
  margin-top: 85px;
}

.big-title {
  margin-top: 0;
  margin-bottom: 32px;
}

/* Layout styling */

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.hat-title {
  color: #546170;
}

/* project container*/

.work-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-top: 16px;
  max-width: 1200px;
}
.row {
  display: flex;
  margin-bottom: 24px;
}

.project-image-wrapper {
  width: 40%;
}
.project-description-wrapper {
  width: 60%;
  padding: 0 0 24px 24px;
}
.project-titles {
  margin-top: 0;
  margin-bottom: 24px;
}

/* about page*/

.about-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-top: 80px;
  max-width: 1200px;
}
.row {
  display: flex;
  margin-bottom: 24px;
}
.about-left {
  flex: 60%;
  padding: 0 16px;
  text-align: left;
}
.about-right {
  flex: 40%;
  text-align: right;
  padding: 0 16px;
}

/* button design */

.button {
  text-decoration: none; /* button on home page */
  width: auto;
  height: 45px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #222f3e;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background-color: #73b4ff;
  box-shadow: 0px 15px 20px rgba(115, 180, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* Footer styling */

.footer-text {
  display: block;
  margin: 16px;
  margin-top: 85px;
  text-align: center;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
}
.item-left {
  flex: 50%;
  padding: 16px;
  text-align: left;
}
.item-right {
  flex: 50%;
  text-align: right;
  padding: 16px;
}

.footer-items a {
  text-decoration: none;
}
.footer-icon {
  padding: 4px;
}

/* Media quaries */

/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (max-width: 870px) {
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  .project-image-wrapper {
    width: 100%;
  }
  .project-description-wrapper {
    width: 100%;
    padding: 16px;
  }

  .item-left .item-right {
    flex: 100%;
    flex-direction: column;
  }
  .about-container {
    flex: 100%;
    flex-direction: column;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
